html,body {
    margin: 0px;
    height: 100%;
    padding: 0px;
    background-image: url("../image/bg1.jpg");
    background-size:cover ;
}


.chessimage
{
    position: relative;
    margin: auto;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
   height: 100%;
    width: 50%;
    background: red;

}
.black
{
    background: black;
    height: 12.5%;
    width: 12.5%;
    float: left;

}
.white
{
    background: white;
    height: 12.5%;
    width: 12.5%;
    float: left;
}
